@using VT.Common
@model string

<div class="row m-b-md m-t">
    <div class="col-lg-12 no-padding">
        <div class="col-lg-6">
            <div class="left-inner-addon">
                <i class="fa fa-search"></i>
                <input id="gridsearch" type="search" data-grid="@(Model)" placeholder="Search Grid..." class="form-control">
            </div>
        </div>
        <div class="col-lg-6">

            <select id="gridPageSize" class="form-control pull-right" style="width:80px;" data-grid="@(Model)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <span style="margin-right: 5px; margin-top: 3px;" class="pull-right">
                Items per page:
            </span>
            @if (Model == "BillingListGrid")
            {
                if (ViewData["Organizations"] != null)
                {
                    var items = (IEnumerable<SelectListItem>) ViewData["Organizations"];
                    
                    <select id="gridOrganization" data-dd="organizations" class="form-control pull-right" style="width: 150px; margin-right: 7px" data-grid="@(Model)">
                        @foreach (var item in items)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <span style="margin-right: 5px; margin-top: 3px;" class="pull-right">Organization:</span>
                }
                if (ViewData["Customers"] != null)
                {
                    var items = (IEnumerable<SelectListItem>)ViewData["Customers"];

                    <select id="gridOrganization" data-dd="customers" class="form-control pull-right" style="width: 150px; margin-right: 7px" data-grid="@(Model)">
                        @foreach (var item in items)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <span style="margin-right: 5px; margin-top: 3px;" class="pull-right">Customers:</span>
                }
                
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
